DEPLOYER_PRIVATE_KEY=<Your Private Key>


# USDC
TOKEN_NAME="Bridged USDC (Stargate)"

# The ERC20 symbol of the FiatToken.
TOKEN_SYMBOL="USDC.e"

# The fiat currency that that FiatToken represents.
TOKEN_CURRENCY="USD"

# # EURC
# TOKEN_NAME="Bridged EURC (Stargate)"

# # The ERC20 symbol of the FiatToken.
# TOKEN_SYMBOL="EURC.e"

# # The fiat currency that that FiatToken represents.
# TOKEN_CURRENCY="EURO"

# The ERC20 decimals for the FiatToken.
TOKEN_DECIMALS=6

# This address will be used as owner of the proxy admin contract.
# It must be the oneSig address
PROXY_ADMIN_ADDRESS=

# The address of the FiatToken's owner.
# It must be the deployer address, latter one when wiring in Stargate V2 repo, it will be transferred to oneSig
OWNER_ADDRESS=

# It should be the deployer address, latter one when wiring in Stargate V2 repo, it will be transferred to oneSig
MASTER_MINTER_ADDRESS=

# If having gas issues try increasing this value
# The percentage to multiply gas usage estimations by (eg. 200 to double the estimation). Defaults to 130.
GAS_MULTIPLIER=110