.coverage_artifacts
.coverage_contracts
.DS_Store
.idea/
@types/generated/
artifacts/
blacklist.txt
build/
config.js
config.*.js
contracts/.DS_Store
coverage.json
coverage/
credentials.json
echidna/
ganache-blockchain-log.txt
logs/
node_modules/
package-lock.json
pids/
token.json
validate/apikey.infura
yarn-error.log
