/**
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2023, Circle Internet Financial, LLC.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

module.exports = {
  // ***** CONFIGURATION *********
  // Environment: Either stg or prod
  ENV: "",
  // these API keys are used to verify contracts
  // see truffle-config.js for more context
  ETHERSCAN_API_KEY: "",
  ARBISCAN_API_KEY: "",
  OPTIMISTIC_ETHERSCAN_API_KEY: "",
  POLYGONSCAN_API_KEY: "",

  LOCAL_RPC_URL: "http://127.0.0.1:8545",
  TESTNET_RPC_URL: "",
  MAINNET_RPC_URL: "",

  MAINNET_ID: "",
  TESTNET_ID: "",

  // TokenName - ERC20 name of the token e.g. "USD Coin"
  TOKEN_NAME: "USD Coin",
  // TokenSymbol - Symbol of the token e.g. "USDC"
  TOKEN_SYMBOL: "USDC",
  // TokenCurrency - Currency of the token e.g. "USD"
  TOKEN_CURRENCY: "USD",
  // TokenDecimals - Number of decimals for the token e.g. 6
  TOKEN_DECIMALS: 6,
  // USE_USDC_MIGRATIONS - whether or not to use legacy migrations in migrations/usdc directory.
  // These migrations deploy each version of FiatToken separately.
  USE_USDC_MIGRATIONS: false,

  // FiatTokenImplementationAddress - (optional) if given for non-usdc migrations we don't deploy FiatToken, just the proxy
  // FIAT_TOKEN_IMPLEMENTATION_ADDRESS: "",
  // FiatTokenProxy contract - override the contract address used in migrations
  // PROXY_CONTRACT_ADDRESS: "",

  // ***** DEPLOYER HOT KEYS *********

  BLACKLISTER_ADDRESS: "",
  BLACKLISTER_PRIVATE_KEY: "",

  DEPLOYER_ADDRESS: "",
  DEPLOYER_PRIVATE_KEY: "",

  MASTERMINTER_OWNER_ADDRESS: "",
  MASTERMINTER_OWNER_PRIVATE_KEY: "",

  OWNER_ADDRESS: "",
  OWNER_PRIVATE_KEY: "",

  PROXY_ADMIN_ADDRESS: "",
  PROXY_ADMIN_PRIVATE_KEY: "",

  MOCK_ERC1271_WALLET_OWNER_ADDRESS: "",

  // ***** COLD STORAGE *********

  // Pauser - can pause the contract
  COLD_PAUSER_ADDRESS: "",
  // Blacklister - can blacklist addresses
  COLD_BLACKLISTER_ADDRESS: "",
  // LostAndFound - tokens that were locked in the contract are sent to this
  COLD_LOST_AND_FOUND_ADDRESS: "",
  COLD_MASTERMINTER_OWNER_ADDRESS: "",
  COLD_PROXY_ADMIN_ADDRESS: "",
  // Owner - can configure master minter, pauser, and blacklister
  COLD_OWNER_ADDRESS: "",
};
